{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ITCITY</title>
    
  <link rel="stylesheet" href="/static/css/design.css">
    
  <link rel="stylesheet" href="/static/css/task.css">
  <link rel="stylesheet" href="/static/css/newtask.css">
  <link rel="stylesheet" href="/static/css/logout.css">


  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/themify-icons.css">
  <link rel="stylesheet" href="/static/css/cs-skin-elastic.css">
  <link rel="stylesheet" href="/static/css/testing.css">

  <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->

  <link rel="stylesheet" href="/static/css/icazeler.css">

  <link href="/static/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "/static/css/task1.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
  label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 30px;
}

  </style>



  

</head>
<body>

  {% block body %}



        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src='http://itcity.az/assets/images/logo.png' alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="/static/images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://127.0.0.1:8000"> <i class="menu-icon fa fa-window-maximize"> </i>İdarə paneli </a>
                    </li>
                    <h3 class="menu-title"> ÖN PANEL</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="http://127.0.0.1:8000/icazeler/index/" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar-check-o"></i> İcazələr</a>

                    </li>
                     <li class="menu-item-has-children dropdown">
                        <a href="http://127.0.0.1:8000/icazeler/index/" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon 	fa fa-list-alt"></i> Lövhələr</a>

                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-envelope-o"> </i>Mesajlar</a>

                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bell-o"> </i>Bildirişlər</a>

                    </li>

                    <h3 class="menu-title">İDARƏ ETMƏ</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Statistika</a>

                    </li>
                    <li>
                        <a href="widgets.html"> <i class="menu-icon fa fa-gear"></i>Tənzimləmələr </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon 	fa fa-clock-o "></i>Arxiv</a>

                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">TEXNİKİ DƏSTƏK</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-life-bouy"></i>Bizimlə əlaqə</a>
                       
                    </li>
                    <li  class="menu-item-has-children dropdown" >
                            <input class="Switch" type="checkbox"  onclick='window.location.assign("http://127.0.0.1:8000/accounts/logout")'>
                           


                    </li>
                </ul>
               
            </div>
           <!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
   

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-9">

                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "border-left: #F5F5F5 solid 1px;">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-primary">5</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                          </div>
                        </div>

                        <div class="dropdown for-message">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "border-left: #F5F5F5 solid 1px;">
                            <i class="fa fa-envelope-o"></i>
                            <span class="count bg-primary">9</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="/static/images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="/static/images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="/static/images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="/static/images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                                <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                    <div>
                        <p> Welcome {{profile.firstname}} {{profile.lastname}}</p>
                       
                        <div class="dropdown-menu" aria-labelledby="language" >
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
         <div>


<!-- dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd -->

        <div class="card-body">
                <div class="card" style="border:0px;">
                    
                        <div class="container col-sm-12" >
                                <img src = "/{{profile.avatar.url}}" style = "width:200px;border-radius: 50%;">
                                </div>
                                


    
            
                                            
<!-- form row starts -->
            <div class="container" >
                <form method='POST'>
                    {% csrf_token%}
                    <!-- esas melumatlar row -->
                    <div class="form-row">
                        <h4 class="col-sm-12">Main Information</h4> 
                   
                        <p class="col-sm-12" style = "color:gray">You can edit your personal information</p>
                    
                    </div>
                    <!-- esas melumaltr row  ends -->
                <div id="div_id_firstname" class="form-group col-sm-4">
                     <label for="id_firstname" class="control-label ">Ad<span class="asteriskField">

                </span>
             </label>
              <div class="controls ">
                   <input class="textinput textInput form-control" id="id_firstname" maxlength="50" name="firstname" type="text" value = '{{profile.firstname}}'> </div>
                 </div>
                  <div id="div_id_lastname" class="form-group col-sm-4">
                      <label for="id_lastname" class="control-label "> Soyad<span class="asteriskField"></span>
                             </label> <div class="controls "> 
                                 <input class="textinput textInput form-control" id="id_lastname" maxlength="100" name="lastname" type="text" value = '{{profile.lastname}}'>
                                 </div> 
                                </div> 
                                <div id="div_id_fathername" class="form-group col-sm-4"> 
                                    <label for="id_fathername" class="control-label  ">Ata ad<span class="asteriskField"></span>
                             </label>
                              <div class="controls ">
                                   <input class="textinput textInput form-control" id="id_fathername" maxlength="100" name="fathername" type="text" value = "{{profile.fathername}}">
                                 </div> 
                                </div> 
                                <!-- form row ends -->
                                <!-- form row strst -->
                                <div class = "form-row">
                                <div id="div_id_email" class="form-group col-sm-4">
                                     <label for="id_email" class="control-label ">Email<span class="asteriskField">

                                </span>
                             </label> 
                             <div class="controls "> 
                                 <input class="textinput textInput form-control" id="id_email" maxlength="100" name="email" type="text" value = "{{profile.email}}"> 
                                </div> 
                            </div>
                             <div id="div_id_mobile" class="form-group col-sm-4"> 
                                 <label for="id_mobile" class="control-label  ">Telefon<span class="asteriskField">

                                </span>
                            </label>
                             <div class="controls ">
                                  <input class="textinput textInput form-control" id="id_mobile" maxlength="20" name="mobile" type="text" value='{{profile.mobile}}'>
                                 </div> 
                                </div>
                                 <div id="div_id_phone" class="form-group  col-sm-4">
                                      <label for="id_phone" class="control-label ">Mobil</label> 
                            <div class="controls "> 
                                <input class="textinput textInput form-control" id="id_phone" maxlength="20" name="phone" type="text" value = '{{profile.phone}}'> 
                            </div>
                         </div>
                        </div>
                         <!-- form row ends -->
                         <div class = "form-row">
                          <div id="div_id_dob" class="form-group col-sm-4">
                               <label for="id_dob" class="control-label  ">Dogum Tarixi<span class="asteriskField"></span>
                             </label>
                              <div class="controls "> 
                                 <input class="dateinput form-control" id="id_dob" name="dob" type="text" value='{{profile.dob}}'> 
                                </div> 
                            </div> 
                            <div id="div_id_gender" class="form-group col-sm-4"> 
                                    <label for="id_gender" class="control-label ">Cinsi<span class="asteriskField"></span> 
                                    </label>
                                     <div class="controls ">
                                          <select class="select form-control" id="id_gender" name="gender" >
                                        <option value="{{profile.gender}}" selected="selected">{{profile.gender}}</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        </select> 
            </div> 
            
        </div> 
    </div>
        <!-- form row starts -->
        <div id="div_id_adress" class="form-group"> 
            <label for="id_adress" class="control-label  requiredField"> Unvan<span class="asteriskField">

                                </span>
                             </label>
                              <div class="controls "> 
                                  <input class="textinput textInput form-control" id="id_adress" maxlength="150" name="adress" type="text" value = '{{profile.adress}}'> 
                                </div> 
                            </div> 
                            <!-- company information -->
                            <div class="form-row">
                                    <h4 class="col-sm-12">Company Information</h4> 
                               
                                    <p class="col-sm-12" style = "color:gray">You can edit your organization information</p>
                                
                                </div>


                             <!-- company information ends -->
                             <!-- form row started -->
                             <div class="form-row">
                            <div id="div_id_organization" class="form-group col-sm-4"> 
                                <label for="id_organization" class="control-label ">Shirket</label>
                                 <div class="controls ">
                                      <input class="textinput textInput form-control" id="id_organization" maxlength="100" name="organization" type="text" value = "{{profile.organization}}">
                                     </div>
                                     </div> 
                                     <div id="div_id_orgFilial" class="form-group col-sm-4"> 
                                         <label for="id_orgFilial" class="control-label  requiredField">Filial<span class="asteriskField">

                                         </span>
                                         </label>
                                          <div class="controls "> 
                                              <input class="textinput textInput form-control" id="id_orgFilial" maxlength="100" name="orgFilial" type="text" value = "{{profile.orgFilial}}"> 
                                            </div> 
                                        </div>
                                         <div id="div_id_department" class="form-group col-sm-4">
                                              <label for="id_department" class="control-label  requiredField">Shobe<span class="asteriskField"></span>
                             </label>
                              <div class="controls ">
                                   <input class="textinput textInput form-control" id="id_department" maxlength="100" name="department" type="text" value = "{{profile.department}}">
                                 </div> 
                                </div> 
                            </div>
                                <!-- form row ends -->
                                <!-- form row starts -->
                                <div class = "form-row ">
                                <div id="div_id_dayWorkStarted" class="form-group col-sm-4">
                                     <label for="id_dayWorkStarted" class="control-label  requiredField">Ishe qebul tarixi<span class="asteriskField">

                                </span>
                             </label>
                              <div class="controls "> 
                                  <input class="dateinput form-control" id="id_dayWorkStarted" name="dayWorkStarted" type="text" value = '{{profile.dayWorkStarted}}'> 
                                </div>
                             </div>
                             <div class="col-sm-4">

                             </div>
                             <div class = "col-sm-4">

                             </div>

                             </div>
                            
                             <!-- form row ends -->
                            <!-- company information -->
                           
                            <div class="form-row">
                                    <h4 class="col-sm-12">Emergency Information</h4> 
                            
                                    <p class="col-sm-12" style = "color:gray">Please fill emergency information</p>
                                
                                </div>


                            <!-- company information ends -->
                            <!-- form row starts here -->
                            <div class = "form-row">
                              <div id="div_id_rhBlood" class="form-group col-sm-4">
                                   <label for="id_rhBlood" class="control-label  requiredField">Qan Qurupu<span class="asteriskField"></span>
                             </label>
                              <div class="controls "> 
                                  <input class="textinput textInput form-control" id="id_rhBlood" maxlength="30" name="rhBlood" type="text" value="{{profile.rhBlood}}">
                                 </div> 
                                </div> 
                                <div id="div_id_relatedPerson" class="form-group col-sm-4">
                                     <label for="id_relatedPerson" class="control-label  requiredField">Elaqeli Shexs<span class="asteriskField"></span>
                             </label>
                              <div class="controls ">
                                   <input class="textinput textInput form-control" id="id_relatedPerson" maxlength="30" name="relatedPerson" type="text" value = "{{profile.relatedPerson}}"> 
                                </div>
                             </div>
                              <div id="div_id_relatedPersonMobile" class="form-group col-sm-4">
                                   <label for="id_relatedPersonMobile" class="control-label  requiredField">Mobil<span class="asteriskField"></span> 
                            </label>
                             <div class="controls "> 
                                 <input class="textinput textInput form-control" id="id_relatedPersonMobile" maxlength="50" name="relatedPersonMobile" type="text" value = "{{profile.relatedPersonMobile}}">
                                 </div>
                                </div>
                               
                
                                                 <div class = 'form-row'>  
                                                     
                                 <button name="submit" type="submit" class="btn btn-primary"  style = "background-color: #479de1;
                                 border-color: #479de1;"">Melumatlari Deyis</button>
                                
                                  
                            </div>
                                                    </form> 
                                                      </div>
                                 <!-- form row ends -->
                                 </div>
                                
                                </div>
                                                    
                                                </div>
                            </div>
                            </div>
                        </div>
                        {% include 'instantmsg.html'%}
                            
                        
                            
                            

            
                                    


            


           
        
  
                   
      
    </div>


    
   
   
           

            <!--/.col-->










                <!-- /# card -->
            </div>


        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <script src="/static/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/static/js/plugins.js"></script>

      <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="/static/js/plugins.js"></script>
      
      






    <script src="/static/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="/static/js/dashboard.js"></script>






    <script src="/static/js/lib/chart-js/Chart.bundle.js"></script>


{% endblock %}
</body>
</html>






