#flashMessage {
    color: white;
    background-color: tomato;
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: calc(100% - 100px);
    margin-bottom: 40px;
	position: absolute;
}