button,
input,
span,
div,
textarea {
    outline: none;
}

#nav-bar {
    background-color: #6E2F1A;
    background: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0px 2px 0 #6E2F1A;
    height: 18px;
    padding: 10px;
}

.text-style {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    margin: -5px 0 0 6px;
}

.button-style {
    /*buttons on the LEFT <------*/
    background: rgba(255, 255, 255, .2);
    border-radius: 3px;
    border-style: none;
    line-height: 25px;
    margin: -6px 5px 0 -5px;
    text-align: center;
    cursor: pointer;
}

.button-style:hover {
    background: rgba(255, 255, 255, .4);
}

.search-icon {
    /*search button icon style*/
    font-size: 16px;
    color: white;
    margin: 6px 4px 0 5px;
    float: right;
}

.input-style {
    /*search button input style*/
    background: transparent;
    border: none;
    color: #575757;
}

#right-bar {
    height: 18px;
    width: auto;
    float: right;
    margin-top: -25px;
}

.button-style-right {
    /*------>buttons on the RIGHT*/
    background: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 3px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.button-style-right:hover {
    background: rgba(255, 255, 255, .4);
}

.header-user-info {
    color: white;
    font-size: 16px;
    width: auto;
}

.avatar {
    float: left;
    margin-left: -5px;
    margin-right: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 25px;
}

.fa-plus {
    /* + button */
    text-align: center;
}

.user {
    /*U-user button*/
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.fa-info {
    /*I-info button*/
    padding: 0 5px 0 5px;
}

.fa-bell-o {
    /*Bell button*/
    padding: 0 2px 0 2px;
}

#content-header {
    margin: 13px 0 5px 0;
    height: 30px;
    width: auto;
}

#main-board {
    margin-left: 8px;
    margin-top: 13px;
    padding-right: 9px;
    font-size: 18px;
    font-weight: bold;
}

.button-style-header {
    background: #009ce2;
    border-radius: 3px;
    border-style: none;
    line-height: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.add-card-button {
    background: #009ce2;
    border-radius: 3px;
    border-style: none;

    line-height: 25px;
    margin-left: 10px;
    cursor: pointer;
}


.button-style-header:hover {
    background: #009ce2;
}

.private-text {
    text-align: center;
    font-size: 12px;
    color: white;
}


/*RIGHT*/

.button-style-header-right {
    background:#009ce2;
    border-radius: 3px;
    border-style: none;
    line-height: 25px;
    margin-top: -35px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}
.info-button {
    background-color: white;
    border-radius: 3px;
    border-style: none;
    border: #009ce2 solid 0.5px;
    line-height: 25px;
    margin-top: -35px;
    margin-right: 122px;
    float: right;
    cursor: pointer;
}

.button-style-header-right:hover {

}

.menu-text-info {

    padding-right: 5px;
    padding-left: 5px;
    float: right;
    color: #2BA7F8;
    font-size: 12px;
}
.menu-text {

    padding-right: 5px;
    padding-left: 5px;
    float: right;
    color: #ffffff;
    font-size: 12px;
}
.fa.fa-info.infoicon{
    font-size: 12px;
    color: #2BA7F8;

}


#container {
    overflow: auto;
}


#save-list-btn {
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
    background-color: #009ce2;
    border-style: none;
    border-radius: 2px;
    color: white;
    padding: 7px 8px 8px 8px;
    /* box-shadow: 0 1px 2px 0 black; */
    width: 250px;
    height: 30px;
    cursor: pointer;
}
#card-task-btn {
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
    background-color: #009ce2;
    border-style: none;
    border-radius: 2px;
    color: white;
    padding: 7px 8px 8px 8px;
    /* box-shadow: 0 1px 2px 0 black; */
    width: 250px;
    height: 30px;
    cursor: pointer;
}

#save-btn:hover {
    background-color: #539E3C;
    width: 72px;
    height: 30px;
}

#list-input-box {
    /*Add a list... input box*/
    background-color: #ffffff;
    width: 250px;
    height: 33px;
    padding: 3px 5px;
    font-size: 14px;
    color: #575757;
    font-family: helvetica;
    border-radius: 3px;
    border-style: none;
    border: 1px solid #009ce2;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    cursor: text;
}

#save-list-box {
    /*add-list... SAVE box*/
    background-color: #ffffff;
    margin-left: 10px;
    padding: 4px;
    border-radius: 2px;
    width: 262px;
    height: 70px;
    display: none;
}

.addCardBtn {
    /*Add button*/
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 10px 10px;
    background-color: #5EB54A;
    border-style: none;
    border-radius: 3px;
    color: white;
    padding: 7px 8px 8px 8px;
    box-shadow: 0 1px 2px 0 black;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

#addCardBtn:hover {
    background-color: #539E3C;
    width: 72px;
    height: 30px;
}

.add-card-container {
    /*add a card... grey box*/
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 3px;
    height: auto;
}

.add {
    /*Add a card... text*/
    text-align: center;
    display: block;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #009ce2;
}

.add:hover {
    text-align: center;
    color:  #009ce2;
    background-color: #ffffff;
    border: #009ce2 solid 1px;
}

.list-title {
    margin: 5px 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 260px;
    height: auto;
    cursor: pointer;
}

.ellipsis {
    padding: 5px 5px;
    color: #838C91;
    float: right;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.ellipsis:hover {
    color: #737475;
    background: #CDD2D4;
}

.text {
    font-weight: bold;
    font-size: 14px;
    color: #646464;
    width: 220px;
    padding: 4px 4px;
    margin-right: 5px;
    border-radius: 3px;
}

.cardContainer {
    /*White block of text - card*/
    font-family: helvetica;
    font-size: 14px;
    color: #575757;
    margin: 0 8px 5px 8px;
    padding: 8px 8px;
    display: block;
    resize: vertical;
    border: none;
    border-radius: 3px;
    width: 238px;
    height: 50px;
    max-height: 190px;
}

.cards {
    /*white block of past input text*/
    margin: 22px 0 16px 0;
    height: 32px;
    width: 252px;
    background-color: white;
    box-shadow: 0 1px 1px -1px grey;
    display: block;
    resize: none;
    border: none;
    border-radius: 4px;
    font-weight: none;
    cursor: pointer;
}
/* ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc */
