<div class="container">
                    <form method="POST">
                        {%csrf_token%}
                        
                        <h2>Contact Us</h2>
                       
                        <label for ="id_leave_type">Icazə Tipi:</label><select id="id_leave_type" name="leave_type">
  <option value="xeste">XESTE</option>
  <option value="tetil">TETIL</option>
  <option value="bayram">BAYRAM</option>
  </select>
  <label for="id_leave_start_0">Baslangic Tarixi ve Saati:</label><input id="id_leave_start_first" name="leave_start_0" type="text"><input id="id_leave_start_sec" name="leave_start_1" type="text">
  <label for="id_leave_end_0">Bitme Tarixi ve Saati:</label><input id="id_leave_end_0" name="leave_end_0" type="text"><input id="id_leave_end_1" name="leave_end_1" type="text">
  <label for="id_leave_reason">Movzu:</label><input id="id_leave_reason" maxlength="300" name="leave_reason" type="text">
  
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                  </div>