
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ITCITY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
   
    
    <link rel="stylesheet" href="/static/css/design.css">
    <link rel="stylesheet" href="/static/css/icazedesign.css">
    <link rel="stylesheet" href="/static/css/icazeupdate.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
  </head>
  <body>
      {% block body %}
      
      

  <div id="responsive-admin-menu">
      <div id="responsive-menu">
        <div class="menuicon">≡</div>
      </div>

      <div id="logo"><img href = "http://itcity.az/assets/images/logo.png"></div>

      <!--Menu-->
      <div id="menu">
        <h4 class = "panel-basliq">&#1254;N PANEL</h4>
        
          <a href="" title="Idare Paneli"><i class="fa fa-window-maximize"></i>
            

            <span> 
          Idar&#1241; Paneli</span></a>
          <a href="/icazeler/index" title="Icazeler"><i class="fa fa-calendar-check-o"></i> <span>Icaz&#1241;l&#1241;r</span></a>
          <h4 class = "panel-basliq">IDAR&#1240; ETM&#1240;</h4>
          <a href="" title="Mesajlar"><i class="fa fa-envelope-o"></i> <span>Mesajlar</span></a>
          <a href="" title="Bildirisler" name="media-sub"><i class="fa fa-bell-o"></i>
            <span>  
          Bildiri&#537;l&#1241;r</span></a>
          <!-- Media Sub Menu -->
          
          
          <a href="" title="Statistika"><i class="fa fa-bar-chart"></i>
            <span>  
          Statistika</span></a>
          <a href="" title="Tenzimlemeler"><i class="fa fa-gear"></i>
            <span>  
          T&#1241;nziml&#1241;m&#1241;l&#1241;r</span></a>

          <h4 class = "panel-basliq">TEXNIKI D&#1240;ST&#1240;K</h4>
          <!-- Other Contents Sub Menu -->
          <a href="" title="Bizimle Elaqe"><i class="fa fa-life-bouy"></i>
            <span>  
          Biziml&#1241; &#1240;laq&#1241;</span></a>
      </div>
      <input type="checkbox" hidden="hidden" id="username">
      <label class="switch" for="username"></label>
      <!--Menu-->


      </div>

             
            <div id="content-wrapper">
                   <section class="panel icazeform">
                  <div class = "row">
                      <form method = "POST" class = "icazeform">
                        {% csrf_token %}
                          <div class="form-row icazerow1">
                            {{form|crispy}}
                            
                            
                           
                        </form>
                        <button type = "sumbit" class = "btn btn-primary updateicaze">Icaze al</button>
                     
                  
                    
                   
                  </section>
                              
            
  
  
        </div>


  
 
    
 
       
         
  

    
       
               
        
            
               
                
            
     

    
          


      
      
        

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
{% include 'icazeler/test.html'%}





</body></html>