{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}ITCITY{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.min.css '%}">
    <link rel = "stylesheet" href = "{% static 'css/design.css '%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      
      {% block body %}

      <div id="responsive-admin-menu">
      <div id="responsive-menu">
        <div class="menuicon">≡</div>
      </div>

      <div id="logo"><img href = "http://itcity.az/assets/images/logo.png"></div>

      <!--Menu-->
      <div id="menu">
          <a href="http://127.0.0.1:8000" title="Idare Paneli"><i class="fa fa-window-maximize"></i>

            <span> 
          Idare Paneli</span></a>
          <a href="" title="Icazeler"><i class="fa fa-calendar-check-o"></i> <span>Icazeler</span></a>
          <a href="" title="Mesajlar"><i class="fa fa-envelope-o"></i> <span>Mesajlar</span></a>
          <a href="" title="Bildirisler" class="submenu" name="media-sub"><i class="fa fa-bell-o"></i>
            <span>  
          Bildirisler</span></a>
          <!-- Media Sub Menu -->
          
          
          <a href="" title="Statistika"><i class="fa fa-bar-chart"></i>
            <span>  
          Statistika</span></a>
          <a href="" title="Tenzimlemeler"><i class="fa fa-gear"></i>
            <span>  
          Tenzimlemeler</span></a>

          
          <!-- Other Contents Sub Menu -->
          <a href="" title="Bizimle Elaqe"><i class="fa fa-life-bouy"></i>
            <span>  
          Bizimle Elaqe</span></a>
      </div>
      <!--Menu-->


      </div>

      <div id="content-wrapper">

      <div style="border:1px #e8e8e8 solid;margin:0px 0px 10px 0px">
        <div style="border-bottom:1px #e8e8e8 solid;background-color:#f3f3f3;padding:8px;font-size:13px;font-weight:700;color:#45484d;">
          Admin Menu Content</div>
          <a href="http://127.0.0.1:8000/icazeler/create">Icaze Yarat</a>
          {% include 'icazeler/form.html'%}
          

          

             
            
            
      </div>

    
          <div class="table-container">
               
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Leave Type</th>
                      <th scope="col">Start</th>
                      <th scope="col">End</th>
                      <th scope = "col">Status</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    {% for icaze in icazeler %}
                    <tr>
                      <th scope="row">{{ icaze.id }}</th>
                      <td><a href = "{{ icaze.get_absolute_url }}" >{{ icaze.leave_type }}</a><br></td>
                      <td> {{ icaze.leave_start }} </td>
                      <td> {{ icaze.leave_end }}</td>
                      <td>Gozleyir</td>
                      
                    </tr>
                    {% endfor %}  
                    
                  </tbody>
                </table>
                  </div>
              
          
        
            
               
                
            
     

    
          


      </div>
{% endblock %}
<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>



</body>
</html>



 