{% load static %}
<link rel="stylesheet" href="/static/css/design.css">


        <div class="containerper" style = "height: 265px;
        width: 32%;
        margin-top: -1080px;
        margin-left: 248px;
       ">
            <h5 class = "faiz-sozler" >Alınmış icazə sayı</h5>    
            <h1 class = "gun" >7</h1>  
            <h6 class = "faiz-sozler-gun" >gün</h5>   
            <h5 class = "toplam-icaze" >*Illik toplam icazə 10 gün</h5>      


            <div class="faiz">
                   
                    

                    <div class="svg-item">
                            <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
                              <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="transparent"></circle>
                              <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                              <circle class="donut-segment" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="75 25" stroke-dashoffset="25"></circle>
                              <g class="donut-text">
                          
                                <text y="50%" transform="translate(0, 2)">
                                  <tspan x="50%" text-anchor="middle" class="donut-percent">70%</tspan>   
                                </text>
                              </g>
                            </svg>
                          </div>
            
                        </div>   
        </div>
        
               
